@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link sp-Post sp-hover sp-bgr" asp-action="Blog" title="Post">Post!</a>
    </li>
}
