@{
    ViewData["Title"] = "Home Page";
    string signal = "@";

}

@model TrendinFeed

<div class="HomeFeed">
    <div class="Posts">
		@await Html.PartialAsync("_PostsPartial", @Model.Feeds)
    </div>

    <div class="TrendingNow">
        @await Html.PartialAsync("_TrendPartial", @Model.Trends)
    </div>
    
</div>
