@{
    ViewData["Title"] = "Home Page";
}

<div class="allfather" >
    <div class="text-center">
        <h1 class="display-4 mb-4">Blogify</h1>
        <p>Welcome to blogify, where thoughts, stories, and ideas come to life</p>

        <div class="home-info">
            <p>You can just click create quick account and it will create a random account for you with no need to fill data</p>
            <a class="btn bg-blueviolet" href="/create">Create a Random account</a>
        </div>
    </div>

</div>